/* font and color pallate */
/* try smthng other then px */

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
/* bakgrund */

body{
    background-color: #d22ebf;
}

.kontainer{
    margin: auto;
    width: 1000px; 
}

/* headers utseende och funktion */
header{
width: 1000px;
border-radius: 4px;
}

header h1{
    font-size: 50px;
}

nav{}

nav a{
    border-radius: 3px;
}

nav a:hover{
    background-color: yellowgreen;
}


/* mains utseende och funktion  */

main{
    width: 600px;
    border-radius: 4px;
}

main h2{
    font-size: 40px;
}

main figure{}

main figure img{}

main figure figcaption{}

main p{}

main button{
    background-color: black;
}

/* asides utseende och funktion */

aside{
    width: 300px;
    border-radius: 4px;
    background-color: plum;
}

aside p{}

/* footers utseende och funktion */

footer{
    border-radius: 4px;
    background-color: blueviolet;
}

footer p{}