@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Kablammo&display=swap');

:root {
    --dark-amethyst: #10002bff;
    --dark-amethyst-2: #240046ff;
    --indigo-ink: #3c096cff;
    --indigo-velvet: #5a189aff;
    --royal-violet: #7b2cbfff;
    --lavender-purple: #9d4eddff;
    --mauve-magic: #c77dffff;
    --mauve: #e0aaffff;
}



/* try smthng other then px */

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/* bakgrund */

body {
    background-image: url(./bilder/bg\ 5.webp);
}

.kontainer {

    width: 1400px;
    margin: auto;
    background: #681010;
    display: grid;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer"
    ;
    border-radius: 0.2cm;



}

/* headers utseende och funktion */
header {

    width: 900px;
    border-radius: 4px;
    margin: auto;
    background: greenyellow;
    height: 100px;
    margin-bottom: 20px;
    grid-area: header;

}

header h1 {
    font-size: 50px;
    font-family: "Kablammo", system-ui;
    text-align: center;
}

nav {
    text-align: center;

}

nav a {
    border-radius: 3px;
    color: var(--indigo-velvet);
    font-family: "Kablammo", system-ui;
    margin-right: 20px;
    background: lightcoral;
}

nav a:hover {
    background-color: lightskyblue;
}


/* mains utseende och funktion  */

main {
    width: 600px;
    border-radius: 4px;
    margin: auto;
    grid-area: main;
    margin-left: 250px;
    margin-bottom: 20px;

}

main h2 {
    font-size: 40px;
    font-family: "Flavors", cursive;
    color: var(--mauve);
    margin-left: 40px;
}

main figure {}

main figure img {}

main figure figcaption {
    text-align: center;
    font-size: 2lh;
    font-family: "Flavors", cursive;
    color: greenyellow;

}

main p {
    font-family: "Flavors", cursive;
    text-align: center;
    font-size: 30px;
    color: #fff;

}

main button {
    background-color: rgb(3, 149, 168);
    margin-left: 20%;
    margin-bottom: 20px;
    color: var(--indigo-velvet);
    font-size: 1.2lh;
    font-family: "Flavors", cursive;
}

/* asides utseende och funktion */

aside {
    width: 200px;
    border-radius: 4px;
    background: lightseagreen;
    grid-area: aside;
    margin-right: 150px;
    margin-bottom: 20px;

}

aside p {
    font-family: "Flavors", cursive;
    font-size: 2lh;
    color: var(--dark-amethyst);
}

/* footers utseende och funktion */

footer {
    height: 50px;
    border-radius: 4px;
    background: var(--lavender-purple);
    grid-area: footer;
    margin-top: 20px;
}

footer p {
    font-size: 30px;
    font-family: "Flavors", cursive;
    color: skyblue;
    text-align: center;
}



@media (max-width: 430px) {

    .kontainer {
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer"
        ;
        background-color: #10002bff;


    }

    aside {
        width: 400px;
        margin-left: 400px;
    }


}


